<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "RideCell Testing Suite">
   <listeners>
   <listener class-name="com.ridecell.webutils.Listener"></listener>
   </listeners>
   <test name = "RideCell Tests" parallel = "methods" thread-count = "2">
      <classes>
         <class name = "com.ridecell.automationassignment.tests.VerifyRepositoryNames" />
      </classes>
   </test>
</suite>